* {
  font-family: 'Staatliches', cursive;
}

header {
  font-size: 40px;
}

.heading {
  align-items: center;
  display: inline-flex;
  flex-flow: row wrap;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.heading .buttons {
  margin-left: 30px;
}

.column {
  display: inline-block;
}

.button {
  background-color: rgba(128, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 25px;
  margin: 10px 0px 20px 0px;
  width: 300px;
}

.button:hover {
  background-color: rgba(128, 0, 0, 0.7);
  cursor: pointer;
  transition-duration: .3s;
}

.input {
  border-radius: 4px;
  font-size: 25px;
  height: 30px;
  vertical-align: middle;
}

#width {
  margin-left: 8px;
}

#left {
  width: 20%;
  margin-right: 30px;
  text-align: center;
  vertical-align: top;
}

#right {
  margin-top: 0px;
  padding-top: 0px;
}

#error-message {
  color: maroon;
  display: inline;
  font-size: 35px;
  visibility: hidden;
}

#board {
  align-items: center;
  margin-top: 10px;
}

.red-glow {
	text-shadow: 0 0 10px rgba(256, 0, 0, 0.7);
}

.remove-glow {
  text-shadow: none;
  transition: all 1s linear;
}
